@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.otf");
  font-weight: 400;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}
.box {
  background-color: #65256f;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
h1 {
  color: #ffb700;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
h2 {
  display: flex;
  justify-content: end;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.inform {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 20px 30px;
  display: inline-block;
}
button {
  background-color: #65256f;
  color: white;
  height: 30px;
  margin: 17px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our {
  width: 268px;
  background-color: #ffffff;
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55.93px;
}
.our img {
  width: 184px;
  height: 125.71px;
}
.ourp {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20.38px;
  text-align: center;
  color: #000000;
}
.ourp2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 8px;
  color: #5e5e5e;
}
.ourp3 {
  color: #753ed6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 59px;
}
  .section_img{
  width: 100%;
  height: 100vh;
  background: url(https://img.geliophoto.com/bishkek/07_bishkek.jpg);
  background-position: center;
  background-size: cover;
  }
  
  .section1{
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  }
  .lord_icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .lord button{
      cursor: pointer;
  width: 250px;
  height: 40px;
  background: #FFC957;
  border-radius: 10px;
  }
  .lord{
      width: 500px;
  }
  .icon{
      cursor: help ;
      width: 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
  }

.display{
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

