@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.otf');
  font-weight: 400;
}
body {
  margin: 0;
  /* background: #E5E5E5; */
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 268px);
  grid-gap: 32px;
}

button {
  width: 368px;
  height: 60px;
  margin-top: 1px;
  border-radius: 3px;
  background-color: purple;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
h1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #4c1f8c;
}
.btn {
  text-align: center;
}
